{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

<div class="titre_inscription">  Inscrivez-vous et parlez à travers le monde entier !</div>
    {{ include('user/_form.html.twig') }}

    
{% endblock %}
