{% extends 'base.html.twig' %}

{% block title %}Edit Sources{% endblock %}

{% block body %}
    <h1>Edit Sources</h1>

    {{ include('sources/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
