{% extends 'base.html.twig' %}

{% block title %}New Sources{% endblock %}

{% block body %}
    <h1>Create new Sources</h1>

    {{ include('sources/_form.html.twig') }}

    <a href="{{ path('app_sources_index', {'id': idProject}) }}">back to list</a>
{% endblock %}
